#header {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
}
#header .row1 {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#header .row1 .row1-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
#header .row1 .row1-container .member-bar {
  display: flex;
  font-size: 12px;
}
#header .row1 .row1-container .member-bar > li {
  position: relative;
}
#header .row1 .row1-container .member-bar > li > a {
  display: block;
  font-weight: 500;
  color: #333;
}
#header .row1 .row1-container .member-bar > li > a:nth-child(1).on {
  color: #f00;
}
#header .row1 .row1-container .member-bar > li > a img {
  position: relative;
  top: -2px;
  width: 20px;
  height: 10px;
}
#header .row1 .row1-container .member-bar > li i {
  color: #333;
  margin: 0 10px;
}
#header .row1 .row1-container .member-bar > li > ul.service-center {
  display: none;
  position: absolute;
  width: 100px;
  top: 22px;
  left: -6px;
  background: #333;
  border: 1px solid #eee;
  padding: 5px 0 10px 0;
  z-index: 5;
}
#header .row1 .row1-container .member-bar > li > ul.service-center::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -1px;
  width: 100px;
  height: 20px;
}
#header .row1 .row1-container .member-bar > li > ul.service-center > li {
  padding: 5px 9px 0 9px;
}
#header .row1 .row1-container .member-bar > li > ul.service-center > li > a {
  font-size: 12px;
  line-height: 140%;
  color: #fff;
}
#header .row1 .row1-container .member-bar > li > ul.service-center > li > a:hover {
  color: #f47474;
}
#header .row1 .row1-container .member-bar > li > ul.service-center > li > a::after {
  content: "";
  width: 1px;
  height: 10px;
}
#header .row1 .row1-container .member-bar > li:hover > ul {
  display: block;
}
#header.row1 .row1 {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(210, 210, 210, 0.8);
  z-index: 1;
}
#header .row2 {
  width: 100%;
  height: 150px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}
#header .row2 .row2-container {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
#header .row2 .row2-container .center {
  width: 860px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#header .row2 .row2-container .center a {
  position: relative;
  width: 100%;
  z-index: 99;
  font-family: "Homoarakhn", sans-serif;
}
#header .row2 .row2-container .center a h2 {
  letter-spacing: 5px;
  font-size: 90px;
  color: #000;
  text-shadow: 2px 5px 5px rgb(255, 0, 0);
}
#header .row3 {
  position: relative;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#header .row3 .row3-container {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}
#header .row3 .row3-container .left {
  width: auto;
}
#header .row3 .row3-container .left #nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#header .row3 .row3-container .left #nav .home-btn {
  display: none;
}
#header .row3 .row3-container .left #nav .home-btn.on {
  display: block;
}
#header .row3 .row3-container .left #nav .home-btn a {
  display: block;
}
#header .row3 .row3-container .left #nav .home-btn a img {
  width: 100%;
  height: 100%;
}
#header .row3 .row3-container .left #nav .menu-bar {
  display: flex;
  align-items: center;
  height: 100%;
  vertical-align: middle;
  font-family: "Homoarakhn", sans-serif;
  text-transform: uppercase;
  transition: all 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#header .row3 .row3-container .left #nav .menu-bar:hover > .category-tooltip1, #header .row3 .row3-container .left #nav .menu-bar:hover > .category-tooltip2 {
  display: block;
  z-index: 10px;
}
#header .row3 .row3-container .left #nav .menu-bar span.main-title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip1 {
  display: none;
  position: absolute;
  top: 51px;
  left: 27%;
  border: 1px solid rgb(221, 221, 221);
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip1.on {
  position: absolute;
  top: 70px;
  left: 39%;
  border: 1px solid rgb(221, 221, 221);
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip1 > ul {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip1 > ul > li {
  font-size: 14px;
  font-weight: 500;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip1 > ul > li:hover > ul.tooltip-detail {
  display: block;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip1 > ul > li .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip1 > ul > li .wrap a.sub-title {
  padding: 15px;
  display: block;
  width: 100%;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip1 > ul > li .wrap a.sub-title:hover {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip1 > ul > li .wrap a.sub-title img {
  width: 40px;
  height: 40px;
  margin: 0 5px 0 0;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip1 > ul > li > ul.tooltip-detail {
  display: none;
  width: 375px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 304px;
  z-index: 20;
  border-bottom: 1px solid rgb(221, 221, 221);
  border-top: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  background: rgba(0, 0, 0, 0.8);
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip1 > ul > li > ul.tooltip-detail > li {
  cursor: pointer;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip1 > ul > li > ul.tooltip-detail > li .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip1 > ul > li > ul.tooltip-detail > li .wrap a.sub-title {
  padding: 15px;
  width: 100%;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip1 > ul > li > ul.tooltip-detail > li .wrap a.sub-title:hover {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip2 {
  display: none;
  position: absolute;
  top: 51px;
  right: 22.5%;
  border: 1px solid rgb(221, 221, 221);
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip2.on {
  position: absolute;
  top: 70px;
  right: 3%;
  border: 1px solid rgb(221, 221, 221);
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip2 > ul {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip2 > ul > li {
  font-size: 14px;
  font-weight: 500;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip2 > ul > li .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip2 > ul > li .wrap a.sub-title {
  padding: 15px;
  display: block;
  width: 100%;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip2 > ul > li .wrap a.sub-title:hover {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
#header .row3 .row3-container .left #nav .menu-bar .category-tooltip2 > ul > li .wrap a.sub-title img {
  width: 40px;
  height: 40px;
  margin: 0 5px 0 0;
}
#header.row3 .row3 {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  background: rgba(210, 210, 210, 0.8);
  height: 70px;
  z-index: -1;
}