#wrap {
  width: 100%;
  background: #000;
}
#wrap #goTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 58px;
  height: 58px;
  z-index: 2;
}
#wrap #goTop a {
  display: block;
  width: 100%;
}
#wrap #goTop a img {
  width: 100%;
}