#wrap {
  width: 100%;
  background: #000;
}
#wrap #quickMenu {
  position: absolute;
  top: 545px;
  right: 10px;
  width: 80px;
  background: #000;
  z-index: 2;
}
#wrap #quickMenu .row1 {
  width: 100%;
  border: 1px solid #333;
}
#wrap #quickMenu .row1 a {
  display: block;
  width: 100%;
}
#wrap #quickMenu .row1 a img {
  width: 100%;
}
#wrap #quickMenu .row2 {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #333;
}
#wrap #quickMenu .row2 ul {
  width: 100%;
}
#wrap #quickMenu .row2 ul li {
  width: 100%;
  border-bottom: 1px solid #333;
}
#wrap #quickMenu .row2 ul li:last-child {
  border-bottom: 0;
}
#wrap #quickMenu .row2 ul li a {
  display: block;
  width: 100%;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
}
#wrap #quickMenu .row3 {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #333;
}
#wrap #quickMenu .row3 .up-box {
  width: 100%;
}
#wrap #quickMenu .row3 .up-box a {
  display: block;
  width: 100%;
  text-align: center;
}
#wrap #quickMenu .row3 .up-box a img {
  width: 15px;
}
#wrap #quickMenu .row3 .up-box h2 {
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#wrap #quickMenu .row3 .view-box {
  width: 100%;
  height: 250px;
}
#wrap #quickMenu .row3 .view-box ul {
  padding: 10px;
  width: 100%;
}
#wrap #quickMenu .row3 .view-box ul li {
  width: 100%;
}
#wrap #quickMenu .row3 .view-box ul li .gap {
  width: 100%;
  padding: 10px 0;
}
#wrap #quickMenu .row3 .view-box ul li .gap a {
  display: block;
  width: 60px;
  height: 60px;
}
#wrap #quickMenu .row3 .view-box ul li .gap a img {
  width: 100%;
}
#wrap #quickMenu .row3 .down-box {
  width: 100%;
}
#wrap #quickMenu .row3 .down-box a {
  display: block;
  width: 100%;
  text-align: center;
}
#wrap #quickMenu .row3 .down-box a img {
  width: 15px;
}